Source: rserpooldemo
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: https://www.uni-due.de/~be0001/
Build-Depends: cmake (>= 3.0) | cmake3,
               debhelper (>= 9),
               fonts-dejavu,
               fonts-noto-cjk,
               fonts-noto-hinted,
               ghostscript,
               gimp,
               graphicsmagick,
               gsfonts,
               inkscape,
               libfile-fcntllock-perl,
               libimage-exiftool-perl,
               qtbase5-dev
Standards-Version: 4.2.1
Vcs-Git: https://bitbucket.org/dreibh/rserpooldemo.git
Vcs-Browser: https://bitbucket.org/dreibh/rserpooldemo

Package: rserpooldemo-management
Architecture: any
Depends: apt-file,
         apt-show-versions,
         bash-completion,
         bridge-utils,
         btrfs-tools,
         bwm-ng,
         colordiff,
         cron,
         cron-apt,
         ethtool,
         git,
         gpm,
         hping3,
         htop,
         idn,
         ifupdown,
         ipsec-tools,
         joe,
         kdump-tools,
         libfile-fcntllock-perl,
         lksctp-tools,
         lsb-base (>= 3.2-14),
         mlocate,
         net-tools,
         netperfmeter,
         nmap,
         ntpdate,
         pxz,
         reiserfsprogs,
         reprepro,
         rsplib-docs,
         rsplib-services,
         rsplib-tools,
         smartmontools,
         snmp,
         software-properties-common,
         sslscan,
         subnetcalc,
         sysvbanner,
         tcpdump,
         tftp,
         traceroute,
         tree,
         virt-what,
         vlan,
         whois,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: apport-retrace,
            language-pack-de-base,
            language-pack-en-base,
            language-pack-nb-base,
            linux-crashdump,
            tshark,
            update-motd
Description: RSerPoolDemo Management Tools
 This metapackage contains basic software for RSerPoolDemo system management.
 The software installed provides a common working environment.
 .
 See https://www.uni-due.de/~be0001/ for details on RSerPool and the RSerPoolDemo tool!

Package: rserpooldemo-development
Architecture: any
Depends: autoconf,
         automake,
         bc,
         bison,
         clang,
         cmake (>= 3.0) | cmake3,
         createrepo,
         debhelper,
         devscripts,
         flex,
         fonts-dejavu,
         fonts-noto-cjk,
         fonts-noto-hinted,
         gdb,
         ghostscript,
         gnupg,
         gnuplot,
         graphicsmagick,
         gsfonts,
         inkscape,
         kernel-package,
         libbz2-dev,
         libcpprspserver-dev,
         libcurl4-openssl-dev,
         libglib2.0-dev,
         libimage-exiftool-perl,
         libpcap-dev,
         librsplib-dev,
         libsctp-dev,
         libssl-dev,
         libtool,
         mock,
         pbuilder,
         pkg-config,
         qtbase5-dev,
         quilt,
         r-base,
         r-cran-ggplot2,
         r-cran-hmisc,
         rpm,
         texlive-extra-utils,
         texlive-font-utils,
         valgrind,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: ubuntu-dev-tools
Description: RSerPoolDemo Development Tools
 This meta-package contains basic software for RSerPoolDemo development.
 The software installed provides a common working environment.
 .
 See https://www.uni-due.de/~be0001/ for details on RSerPool and the RSerPoolDemo tool!

Package: rserpooldemo-desktop
Architecture: any
Depends: rserpooldemo-management,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: kubuntu-desktop | lubuntu-desktop | ubuntu-desktop
Description: RSerPoolDemo Desktop
 This package contains the scripts to configure a RSerPoolDemo desktop.
 .
 See https://www.uni-due.de/~be0001/ for details on RSerPool and the RSerPoolDemo tool!

Package: rserpooldemo-tool
Architecture: any
Depends: rserpooldemo-management,
         rsplib-fgp-cfgfiles,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: kubuntu-desktop | lubuntu-desktop | ubuntu-desktop,
            rsplib-registrar
Description: RSerPoolDemo Tool
 This package contains the RSerPoolDemo tool.
 .
 See https://www.uni-due.de/~be0001/ for details on RSerPool and the RSerPoolDemo tool!
