#!/bin/sh
# $Id$
# * ##########################################################################
# *
# *              //===//   //=====   //===//   //       //   //===//
# *             //    //  //        //    //  //       //   //    //
# *            //===//   //=====   //===//   //       //   //===<<
# *           //   \\         //  //        //       //   //    //
# *          //     \\  =====//  //        //=====  //   //===//    Version II
# *
# *             ###################################################
# *           ======  D E M O N S T R A T I O N   S Y S T E M  ======
# *             ###################################################
# *
# * ############# An Efficient RSerPool Prototype Implementation #############
# *
# * Copyright (C) 2002-2017 by Thomas Dreibholz
# *
# * This program is free software: you can redistribute it and/or modify
# * it under the terms of the GNU General Public License as published by
# * the Free Software Foundation, either version 3 of the License, or
# * (at your option) any later version.
# *
# * This program is distributed in the hope that it will be useful,
# * but WITHOUT ANY WARRANTY; without even the implied warranty of
# * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# * GNU General Public License for more details.
# *
# * You should have received a copy of the GNU General Public License
# * along with this program.  If not, see <http://www.gnu.org/licenses/>.
# *
# * Contact: dreibh.iem.uni-due.de

if [ $# -lt 1 ] ; then
   echo >&2 "Usage: LocalScenario.config [PR|PE|PU] {Arguments ...}"
   exit 1
fi

# IMPORTANT: All arguments of this script must be shifted away;
#            ComponentControl expects its own arguments only!
CC_COMPONENT=$1
CC_CONFIGMISCARGS=$1
shift


# ====== Base configuration =================================================
RSERPOOLDEMO_CSPOPT="-cspserver=127.0.0.1:2960 -cspinterval=250"
RSERPOOLDEMO_PRLIST_ASAP=
RSERPOOLDEMO_PRLIST_ENRP=
RSERPOOLDEMO_PR_ASAP_UNICAST="[::]:0"
RSERPOOLDEMO_PR_ASAP_ANNOUNCE="auto"
RSERPOOLDEMO_PR_ENRP_UNICAST="[::]:0"
RSERPOOLDEMO_PR_ENRP_ANNOUNCE="auto"


# ====== Set base directories and parameters ================================
if [ -e /home/dreibh/src ] ; then
   CC_BASEDIR="/home/dreibh/src"
elif [ -e /home/demo/src ] ; then
   CC_BASEDIR="/home/demo/src"
else
   CC_BASEDIR="$HOME/src"
   if [ ! -e $CC_BASEDIR ] ; then
      echo >&2 "ERROR: Base directory $CC_BASEDIR does not exist!"
   fi
fi

CC_PROGRAM_DIRECTORY="$CC_BASEDIR/rsplib/src"
CC_OUTPUT_DIRECTORY="$CC_BASEDIR/rserpooldemo/src/output"
CC_PID_DIRECTORY="$CC_OUTPUT_DIRECTORY"
mkdir -p "$CC_OUTPUT_DIRECTORY"

RSERPOOLDEMO_PROPT=""
for pr in $RSERPOOLDEMO_PRLIST_ASAP ; do
   RSERPOOLDEMO_PROPT="$RSERPOOLDEMO_PROPT -registrar=$pr"
done
RSERPOOLDEMO_PEEROPT=""
for pr in $RSERPOOLDEMO_PRLIST_ENRP ; do
   RSERPOOLDEMO_PEEROPT="$RSERPOOLDEMO_PEEROPT -peer=$pr"
done


# ====== Pool Element Setup =================================================
if [ "x$CC_COMPONENT" = "xPE" ] ; then
   CC_PROGRAM="rspserver"
   CC_LOGARGS="-logfile="   # The file name will be appended by ComponentControl!

   CC_ARGS="-loglevel=5 -logcolor=off \
   -fractal \
   -policy=RoundRobin \
   -poolhandle=FractalDemoPool \
   -rereginterval=5000 \
   -asapannounce=$RSERPOOLDEMO_PR_ASAP_ANNOUNCE \
   $RSERPOOLDEMO_CSPOPT $RSERPOOLDEMO_PROPT"

# ====== Pool User Setup ====================================================
elif [ "x$CC_COMPONENT" = "xPU" ] ; then
   CC_PROGRAM="fractalpooluser"
   CC_LOGARGS="-logfile="   # The file name will be appended by ComponentControl!

   FGPCONFIGDIR="$CC_PROGRAM_DIRECTORY/fgpconfig"

   CC_ARGS="-loglevel=5 -logcolor=off \
   -configdir=$FGPCONFIGDIR \
   -poolhandle=FractalDemoPool \
   -asapannounce=$RSERPOOLDEMO_PR_ASAP_ANNOUNCE \
   $RSERPOOLDEMO_CSPOPT $RSERPOOLDEMO_PROPT"


   if [ ! -e "$FGPCONFIGDIR" ] ; then
      echo >&2 "WARNING: Fractal configuration directory $FGPCONFIGDIR does not exist!"
      echo >&2 "         You will only get the default image!"
   fi

# ====== Registrar Setup ====================================================
elif [ "x$CC_COMPONENT" = "xPR" ] ; then
   CC_PROGRAM="rspregistrar"
   CC_LOGARGS="-logfile="   # The file name will be appended by ComponentControl!

   CC_ARGS="-loglevel=5 -logcolor=off \
   -asap=$RSERPOOLDEMO_PR_ASAP_UNICAST -asapannounce=$RSERPOOLDEMO_PR_ASAP_ANNOUNCE \
   -enrp=$RSERPOOLDEMO_PR_ENRP_UNICAST -enrpannounce=$RSERPOOLDEMO_PR_ENRP_ANNOUNCE \
   -maxbadpereports=99999999 \
   $RSERPOOLDEMO_CSPOPT $RSERPOOLDEMO_PEEROPT"

# ====== Bad setting ========================================================
else
   echo >&2 "ERROR: Bad component name \"$CC_COMPONENT\"!"
   exit 1
fi
