[Desktop Entry]
Exec=rserpooldemo %f
Icon=rserpooldemo
MimeType=application/x-rserpooldemo
Name=RSerPool Demo Tool
GenericName[de]=RSerPool-Demowerkzeug
GenericName[nb]=RSerPool-Demoverktøy
GenericName=RSerPool Demo Tool
Categories=RSerPool;Qt
Keywords=RSerPool
Keywords[de]=RSerPool
Keywords[nb]=RSerPool
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
