#!/bin/sh
# * ##########################################################################
# *
# *              //===//   //=====   //===//   //       //   //===//
# *             //    //  //        //    //  //       //   //    //
# *            //===//   //=====   //===//   //       //   //===<<
# *           //   \\         //  //        //       //   //    //
# *          //     \\  =====//  //        //=====  //   //===//   Version III
# *
# *             ###################################################
# *           ======  D E M O N S T R A T I O N   S Y S T E M  ======
# *             ###################################################
# *
# * ############# An Efficient RSerPool Prototype Implementation #############
# *
# * Copyright (C) 2002-2024 by Thomas Dreibholz
# *
# * This program is free software: you can redistribute it and/or modify
# * it under the terms of the GNU General Public License as published by
# * the Free Software Foundation, either version 3 of the License, or
# * (at your option) any later version.
# *
# * This program is distributed in the hope that it will be useful,
# * but WITHOUT ANY WARRANTY; without even the implied warranty of
# * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# * GNU General Public License for more details.
# *
# * You should have received a copy of the GNU General Public License
# * along with this program.  If not, see <http://www.gnu.org/licenses/>.
# *
# * Contact: dreibh.iem.uni-due.de

if [ $# -lt 1 ] ; then
   echo >&2 "Usage: PlanetLabScenario.config [PR|PE|PE-STATIC|PU] {Arguments ...}"
   exit 1
fi

# IMPORTANT:
# All arguments of this script must be shifted away; ComponentControl expects
# its own arguments only! For "restart", ComponentControl needs the
# shifted-away arguments. Therefore, they are stored in CC_CONFIGMISCARGS.
CC_COMPONENT=$1
CC_CONFIGMISCARGS=$1
shift


# ====== Base configuration =================================================
RSERPOOLDEMO_LOCALSYSTEM="132.252.150.151"   # Public IP of control host
RSERPOOLDEMO_PR_ASAP_UNICAST="[::]:0"   # MUST be set in XML config!
RSERPOOLDEMO_PR_ASAP_ANNOUNCE="239.255.255.255:3333"
RSERPOOLDEMO_PR_ENRP_UNICAST="[::]:0"   # MUST be set in XML config!
RSERPOOLDEMO_PR_ENRP_ANNOUNCE="239.255.255.255:4444"
RSERPOOLDEMO_CSPOPT="-cspserver=$RSERPOOLDEMO_LOCALSYSTEM:2960 -cspinterval=333"
RSERPOOLDEMO_PRLIST_ASAP="$RSERPOOLDEMO_LOCALSYSTEM:3001 $RSERPOOLDEMO_LOCALSYSTEM:3002"
RSERPOOLDEMO_PRLIST_ENRP="$RSERPOOLDEMO_LOCALSYSTEM:4001 $RSERPOOLDEMO_LOCALSYSTEM:4002"

# ====== Set base directories and parameters ================================
if [ -e /home/dreibh/src ] ; then
   CC_BASEDIR="/home/dreibh/src"
elif [ -e /home/demo/src ] ; then
   CC_BASEDIR="/home/demo/src"
else
   CC_BASEDIR="$HOME/src"
   if [ ! -e $CC_BASEDIR ] ; then
      echo >&2 "ERROR: Base directory $CC_BASEDIR does not exist!"
   fi
fi

CC_PROGRAM_DIRECTORY="$CC_BASEDIR/rsplib2/rsplib"
CC_PID_DIRECTORY="$CC_BASEDIR/rserpooldemo/src/output"
CC_OUTPUT_DIRECTORY="$CC_BASEDIR/rserpooldemo/src/output"

RSERPOOLDEMO_PROPT=""
for pr in $RSERPOOLDEMO_PRLIST_ASAP ; do
   RSERPOOLDEMO_PROPT="$RSERPOOLDEMO_PROPT -registrar=$pr"
done
RSERPOOLDEMO_PEEROPT=""
for pr in $RSERPOOLDEMO_PRLIST_ENRP ; do
   RSERPOOLDEMO_PEEROPT="$RSERPOOLDEMO_PEEROPT -peer=$pr"
done


FGPCONFIGDIR="$CC_PROGRAM_DIRECTORY/fgpconfig"

CC_PE_DEFAULT_ARGS="-loglevel=5 -logcolor=off \
-fractal \
-policy=RoundRobin \
-poolhandle=FractalDemoPool \
-rereginterval=5000 \
-asapannounce=$RSERPOOLDEMO_PR_ASAP_ANNOUNCE \
$RSERPOOLDEMO_CSPOPT"

CC_PE_STATIC_ARGS="$CC_PE_DEFAULT_ARGS \
-asapannounce=off \
$RSERPOOLDEMO_PROPT"

CC_PU_DEFAULT_ARGS="-loglevel=5 -logcolor=off \
   -configdir=$FGPCONFIGDIR \
   -poolhandle=FractalDemoPool \
   -asapannounce=$RSERPOOLDEMO_PR_ASAP_ANNOUNCE \
   $RSERPOOLDEMO_CSPOPT"

CC_PR_DEFAULT_ARGS="-loglevel=5 -logcolor=off \
-asap=$RSERPOOLDEMO_PR_ASAP_UNICAST -asapannounce=$RSERPOOLDEMO_PR_ASAP_ANNOUNCE \
-enrp=$RSERPOOLDEMO_PR_ENRP_UNICAST -enrpannounce=$RSERPOOLDEMO_PR_ENRP_ANNOUNCE \
-endpointkeepalivetransmissioninterval=1000 \
-endpointkeepalivetimeoutinterval=5000 \
-maxbadpereports=99999999 \
$RSERPOOLDEMO_CSPOPT"

CC_PR_STATIC_ARGS="$CC_PR_DEFAULT_ARGS $RSERPOOLDEMO_CSPOPT"


# ====== Pool Element Setup (autoconfig) ====================================
if [ "x$CC_COMPONENT" = "xPE" ] ; then
   CC_PROGRAM="server"
   CC_LOGARGS="-logfile="   # The file name will be appended immediately!
   CC_ARGS="$CC_PE_DEFAULT_ARGS"

# ====== Pool Element Setup (static PR setup) ===============================
elif [ "x$CC_COMPONENT" = "xPE-STATIC" ] ; then
   CC_PROGRAM="server"
   CC_LOGARGS="-logfile="   # The file name will be appended immediately!
   CC_ARGS="$CC_PE_STATIC_ARGS"

# ====== Pool User Setup ====================================================
elif [ "x$CC_COMPONENT" = "xPU" ] ; then
   CC_PROGRAM="fractalpooluser"
   CC_LOGARGS="-logfile="   # The file name will be appended immediately!
   CC_ARGS="$CC_PU_DEFAULT_ARGS"
   if [ ! -e "$FGPCONFIGDIR" ] ; then
      echo >&2 "WARNING: Fractal configuration directory $FGPCONFIGDIR does not exist!"
      echo >&2 "         You will only get the default image!"
   fi

# ====== Registrar Setup ====================================================
elif [ "x$CC_COMPONENT" = "xPR" ] ; then
   CC_PROGRAM="registrar"
   CC_LOGARGS="-logfile="   # The file name will be appended immediately!
   CC_ARGS="$CC_PR_DEFAULT_ARGS"

# ====== Bad setting ========================================================
else
   echo >&2 "ERROR: Bad component name \"$CC_COMPONENT\"!"
   exit 1
fi
